.table-container {
  border: solid 0.25px;
  padding: 20px;
}

table {
  margin-top: 20px;
  border: solid 0.25px;
  border-collapse: collapse;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tbody > tr > td {
  text-align: center;
  padding: 10px;
  border: solid 0.25px;
  width: 200px;
}
